*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: black;
}



.loader {
    border: solid 1px yellow;
    width: 80vw;
    min-width: 50vw;
    height: 30vh;
    min-height: 10vh;
    /* margin: 275px 450px; */
    margin: 80% auto;
    text-align: center;
    background-color: transparent;

}

.rideau img {
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: fill;
}

.imagefloue {
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    animation: defloute 1.8s ease-out 1.2s forwards;

}

@keyframes defloute {
    0% {
        backdrop-filter: blur(5px);
    }

    100% {
        backdrop-filter: blur(0);
    }
}

.rideau {
    position: relative;
    display: flex;
    overflow: hidden;
}

.rideau p {
    position: absolute;
    color: white;
    background-color: rgb(88, 31, 31);
    width: 25vw;
    text-align: center;
    font-size: 12em;
}

#gauche {
    background-image: url("/images/rideau-gauche.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: decaleGauche 3s ease-out 0.5s forwards;
}

@keyframes decaleGauche {
    0% {
        transform: skew(0deg, 0deg) translateX(0%);
    }

    20% {
        transform: skew(-4deg, 0deg);
    }

    100% {
        transform: skew(-10deg, 0deg) translateX(-120%);
    }
}

#droite {
    left: 50%;
    background-image: url("/images/rideau-droite.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: decaleDroite 3s ease-out 0.5s forwards;
}

@keyframes decaleDroite {
    0% {
        transform: skew(0deg, 0deg) translateX(0%);
    }

    20% {
        transform: skew(4deg, 0deg);
    }

    100% {
        transform: skew(10deg, 0deg) translateX(120%);
    }
}

#fin {
    color: rgb(192, 188, 188);
    font-style: italic;
    font-size: 1.5em;
    animation: masque 1.5s ease-out 0.5s forwards;
}

@keyframes masque {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}


@media only screen and (max-width : 380px) {
    body {
        background-color: lightgrey;
    }



}