*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #141414;
  font-family: "Poppins";
}

.loader {
  width: 80vw;
  min-width: 300px;
  max-width: 800px;
  text-align: center;
  margin: 35vh auto;
}
.loader p {
  color: white;
}

#fin {
  color: rgb(192, 188, 188);
  font-style: italic;
  font-size: 1.5em;
  animation: masque 1.5s ease-out 0.5s forwards;
}

@keyframes masque {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.rideau {
  position: relative;
  display: flex;
  overflow: hidden;
}

.rideau img {
  width: 100%;
  height: 100%;
  -o-object-position: center center;
     object-position: center center;
  -o-object-fit: fill;
     object-fit: fill;
}

.imagefloue {
  height: 100%;
  width: 100%;
  filter: blur(5px);
  animation: defloute 1.8s ease-out 1.2s forwards;
}

@keyframes defloute {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0);
  }
}
.rideau p {
  position: absolute;
  background-color: rgb(88, 31, 31);
  width: 50%;
  height: 100%;
  text-align: center;
}

#gauche {
  background-image: url("/images/rideau-gauche.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: decaleGauche 3s ease-out 0.5s forwards;
}

@keyframes decaleGauche {
  0% {
    transform: skew(0deg, 0deg) translateX(0%);
  }
  20% {
    transform: skew(-4deg, 0deg);
  }
  100% {
    transform: skew(-10deg, 0deg) translateX(-120%);
  }
}
#droite {
  left: 50%;
  background-image: url("/images/rideau-droite.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: decaleDroite 3s ease-out 0.5s forwards;
}

@keyframes decaleDroite {
  0% {
    transform: skew(0deg, 0deg) translateX(0%);
  }
  20% {
    transform: skew(4deg, 0deg);
  }
  100% {
    transform: skew(10deg, 0deg) translateX(120%);
  }
}
header {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 70px;
}

.logo {
  height: 31px;
  width: 23px;
}

.logo img {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.nav-mobile {
  display: flex;
  justify-content: space-between;
  max-height: 80px;
}

.zonejeu {
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100vw;
  margin-top: 80px;
  color: white;
  background-color: transparent;
}

.infos {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #141414;
  background-position: center center;
  padding-left: 18px;
}

.contenu {
  margin-bottom: 10px;
}

.contenu img {
  height: 180px;
  aspect-ratio: 2/3;
  -o-object-position: center center;
     object-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
  cursor: grab;
}
.swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cherche {
  filter: grayscale(1);
}

#modale {
  visibility: hidden;
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

#modale .image {
  width: 100%;
  height: 100%;
  background-image: url("/images/ocean.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: fill;
}

.reponse {
  border: solid 1px yellow;
  display: flex;
}

footer {
  color: white;
  display: none;
}

@media screen and (min-width: 640px) {
  .zonejeu {
    background-color: lightgrey;
    color: black;
  }
  .nav-mobile {
    display: none;
  }
  .contenu img {
    height: 240px;
  }
  .infos {
    height: 60vh;
  }
  .reponse {
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */